<div class="container-fluid">

    <div class="col-6">
        <form class="row g-3 mt-3" #form="ngForm" (ngSubmit)="onFormSubmit()">
            <div class="col-auto">
                <label for="inputValorInicial" class="visually-hidden">Valor</label>
                <input type="text"  class="form-control" id="inputValorInicial"
                 name="inputValorInicial" [(ngModel)]="model.valorInicial" mask="separator.2" 
                 leadZero="true" 
                 thousandSeparator="." prefix="R$"
                  placeholder="Valor Inicial">
            </div>
            <div class="col-auto">
                <label for="inputPrazo" class="visually-hidden" >Prazo</label>
                <input type="number" class="form-control" id="inputPrazo" name="inputPrazo" [(ngModel)]="model.prazo" placeholder="Prazo em meses">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Simular</button>
            </div>
        </form>
    </div>
    <div *ngIf="response" class="col-3">
        <div class="row g-3 ">
            <table aria-label ="Resultado Simulação" class="table">
                <tbody>
                  <tr>
                    <th scope="row">Valor Inicial:</th>
                    <td>{{response.valorInicial | currency : 'BRL'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Prazo:</th>
                    <td>{{response.prazo}} meses</td>
                  </tr>
                  <tr>
                    <th scope="row">Rendimento Bruto:</th>
                    <td> {{response.rendimentoBruto | currency : 'BRL'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Rendimento Líquido:</th>
                    <td> {{response.rendimentoLiquido | currency : 'BRL'}}</td>
                  </tr>                                                      
                </tbody>
              </table>          
        </div>

    </div>


        

</div>